body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#e66465, #9198e5)
}

div.footer {
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    position: sticky;
    top: 0;
    font-size: larger;
    background-color: black;
    color: white;
    z-index: 10;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.relative {
    position: relative;
    margin: 20px;
}
div.gradient:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.773546918767507) 0%, rgba(0, 0, 0, 0.40379901960784315) 100%);
    z-index: 2;
}

div.gradient {
    overflow: hidden;
    transition: all 3s;
}
div.gradient:hover{
    transform: scale(1.1);
}

div.absolute {
    position: absolute;
    color: white;
    bottom: 10px;
    right:5px;
    padding: 1rem;
    z-index: 3;
    transition:all 3s;
}
.absolute:hover{
    padding:10px;
    font-size:20px;
}
h3 {
    text-align: center;
}
p {
    direction: rtl;
}



